extends layout

block content
  #comments.w3-container
    h2.w3-xlarge Comments
    each comment, index in comments
      if comment.deleted === false
        .comment.w3-card-4.w3-margin
          .w3-container
            div.comment-container(style="display: flex; align-items: center;")
              h3.w3-large(style="margin-right: 10px;")= comment.postedByUsername
              span.w3-small.comment-date(style="flex-shrink: 0;")= comment.dateCreated
          .w3-display-container
            p.w3-margin= comment.content
            if comment.postedBy === userInfo.userId || userInfo.role === 'admin'
              a.w3-button.w3-red.w3-display-bottomright(href=`/comment/delete/soft/${comment._id}`) Apagar comentário
      else if userInfo.role === 'admin'
        .comment.w3-card-4.w3-margin.w3-dark-grey
          .w3-container
            div.comment-container(style="display: flex; align-items: center;")
              h3.w3-large(style="margin-right: 10px;")= comment.postedByUsername
              span.w3-small.comment-date(style="flex-shrink: 0;")= comment.dateCreated
          .w3-display-container
            p.w3-margin= comment.content
    h2.w3-xlarge Leave a comment
    form(action='/comment', method='POST').w3-container
      input(type='hidden', name='resourceId', value=resource._id)
      label(for='comment').w3-text-blue Comment
      textarea#comment.w3-input.w3-border(name='comment', required)
      button.w3-btn.w3-blue(type='submit') Submit Comment


