extends layout

block content
  include header
  include navbar
  h1 Os meus Recursos:

  //- Filter Section
  .w3-container.w3-margin-bottom.w3-light-grey
    h2 Filtros:
    form(method='POST' action='/resource/filter')
      input.w3-input(type='hidden', name='uploadedByUsername', value=userInfo.username)
      .w3-row-padding
        .w3-half
          label Titulo:
          input.w3-input(type='text' name='title')
        .w3-half
          label Tipo de Recurso:
          //- input.w3-input(type='text' name='type')
          select.w3-select(id='type' name='type')
            option(value='' selected disabled) Escolha uma opção...
            option(value='relatório') Relatório
            option(value='tese') Tese
            option(value='artigo') Artigo
            option(value='aplicação') Aplicação
            option(value='slides') Slides
            option(value='teste') Teste
            option(value='exame') Exame
            option(value='problema resolvido') Problema resolvido
      .w3-row-padding
        .w3-half
          label Data de submissão:
          input.w3-input(type='date' name='dateCreated')
        .w3-half
          button.w3-button.w3-blue.w3-margin(type='submit') Filtrar
          a.w3-button.w3-red(href='/users/recursos/' + userInfo.userId ) Reset
          

  //- Table of resources
  table.w3-table.w3-bordered.w3-striped.w3-centered
    thead
      tr
        th Titulo 
        th Autor da submissão
        th Data de submissão
        th Tipo de Recurso
        th 
    tbody
      each resource in resources
        tr
          td= resource.title
          td= resource.uploadedByUsername
          td= resource.dateCreated
          td= resource.type
          td
            a.w3-button.w3-green(href=`/recurso/${resource._id}`) Ver Detalhes
  include footer

  script.
    var downloadFlag = "#{downloadFlag}"
    console.log(downloadFlag)
    if (downloadFlag === "false") {
        var msg = "#{msg}";
        if (msg !== "") {
            alert('Download falhou: ' + msg);
        }else{
            alert('Download falhou!');
        }
    }

    var commentDeleteFlag = "#{commentDeleteFlag}"
    if (commentDeleteFlag === "false") {
        var msg = "#{msg}";
        if (msg !== "") {
            alert('Não foi possivel pagar o comentário: ' + msg);
        }else{
            alert('Não foi possivel pagar o comentário!');
        }
    }

    var resourceDeletedFlag = "#{resourceDeletedFlag}"
    if (resourceDeletedFlag === "true") {
        alert('Recurso apagado com sucesso!');
    }