extends layout

block content
    include header
    include navbar

    div.page-container
        h1.page-heading Lista de Pedidos de Atualização de Role
        table.w3-table-all
            thead
                tr
                    th User
                    th Role Atual
                    th Role Requerido
                    th Ações
            tbody
                each update in roleUpdatesList
                    tr
                        td #{update.user_username}
                        td #{update.current_Role}
                        td #{update.required_Role}
                        td
                            a.w3-button.w3-green(href=`/admin/requestRoleUpdate/` + update._id + '?accept=true') Aceitar
                            a.w3-button.w3-red(href=`/admin/requestRoleUpdate/` + update._id + '?accept=false') Recusar


    include footer

    script.
        var acceptedFlag = "#{acceptedFlag}"
        if (acceptedFlag === "true") {
            alert('Pedido Aceite!');
        } else if (acceptedFlag === "false") {
            alert('Pedido Recusado!');
        }


        var errorFlag = "#{errorFlag}"
        if (errorFlag === "true") {
            var error = "#{msg}"
            if(error != ""){
                alert('Falha no pedido:' + error);
            }else{
                alert('Falha no pedido!');
            }
        }