extends layout

block content
    include header
    include navbar
    h1 
        | Notícias:
        if userInfo.role === 'admin'
            a.w3-button.w3-green.w3-right(style="margin-left: 20px; padding: 4px 8px !important; font-size: 0.8em !important;")(href="/admin/noticia/add") Adicionar noticia
    each noticia in noticias
        .w3-container.w3-card.w3-margin-bottom
            if noticia.power
                .w3-container.w3-orange
                    p 
                        strong Aviso da administração: 
                        | #{noticia.title}
                .w3-row
                    .w3-col.s6
                        p #{noticia.content}
                        p 
                            strong Autor: 
                            | #{noticia.uploadedByUsername} 
                            strong Data: 
                            | #{noticia.dateCreated}
                if userInfo.role === 'admin'
                    .w3-col.s12.w3-right-align
                        a.w3-button.w3-red(href=`/noticia/delete/${noticia._id}`) Apagar Notícia
            else
                .w3-container.w3-blue
                    p Novo recurso adicionado!
                .w3-row
                    .w3-col.s6
                        h2 Titulo: #{noticia.title}
                        p 
                            strong Autor da submissão: 
                            | #{noticia.uploadedByUsername} 
                            strong Data de submissão: 
                            | #{noticia.dateCreated} 
                            strong Tipo de Recurso: 
                            | #{noticia.type}
                .w3-col.s12.w3-right-align
                    a.w3-button.w3-green(href=`/recurso/${noticia.resourceId}`) Ver detalhes
                    if userInfo.role === 'admin'
                        a.w3-button.w3-red(href=`/noticia/delete/${noticia._id}`) Apagar Notícia
    include footer

    script.
        var userDeletedFlag = "#{userDeletedFlag}"
        if (userDeletedFlag === "true") {
            alert('Utilizador apagado com sucesso!');
        } 

        var noticiaFlag = "#{noticiaFlag}"
        if (noticiaFlag === "true") {
            alert('Notícia criada com sucesso!');
        }