extends layout 

block content
  include header
  include navbar
  h1
    | #{resource.title}
  include rating_stars 
  | (#{rating})
  p
    strong Submetido por: 
    | #{resource.uploadedByUsername}
  p
    strong Tipo de Recurso: 
    | #{resource.type}
  p
    strong Público: 
    | #{resource.public ? 'Sim' : 'Não'}
  p
    strong Data de submissão: 
    | #{resource.dateCreated}
  p
    strong Data da última atualização: 
    | #{resource.updateDate}

  h2 Ficheiros do Recurso:
  include tabelaFiles
  
  if resource.downloadUrl
    p
      button.w3-button.w3-green(onclick=`window.location.href='${resource.downloadUrl}'`) Download do Recurso
  include comment_section
  include footer