extends layout 

block content
  include header
  include navbar
  h1
    | #{resource.title}
  include rating_stars 
  | (#{rating})
  p
    strong Submetido por: 
    | #{resource.uploadedByUsername}
  if resource.author 
    p
      strong Autor: 
      | #{resource.author}
  p
    strong Tipo de Recurso: 
    | #{resource.type}
  p
    strong Público: 
    | #{resource.public ? 'Sim' : 'Não'}
  p
    strong Data de submissão: 
    | #{resource.dateCreated}
  p
    strong Data da última atualização: 
    | #{resource.updateDate}

  h2 Ficheiros do Recurso:
  include tabelaFiles
  

  if files && files.length > 1
    p
      button.w3-button.w3-green(onclick=`window.location.href='/download/resource/${resource._id}'`) Download do Recurso
  if resource.uploadedBy === userInfo.userId
    p
      a.w3-button.w3-red(href='/resource/delete/' + resource._id) Apagar Recurso
  include comment_section
  include footer

  script.
    var error = "#{error}"
    if (error !== "") {
        alert(error);
    }

    var downloadFlag = "#{downloadFlag}"
    if (downloadFlag === "true") {
        var flagError = "#{flagError}";
        alert('Download failed: ' + flagError);
    }

    var updateFlag = "#{updateFlag}"
    if (updateFlag === "true") {
        alert('Resource updated successfully!');
    } else if (updateFlag === "false") {
        var flagError = "#{flagError}";
        alert('Resource update failed: ' + flagError);
    }

    var deleteFlag = "#{deleteFlag}"
    if (deleteFlag === "true") {
        var flagError = "#{flagError}";
        alert('Download failed: ' + flagError);
    }

