extends layout 

block content
  include header
  include navbar
  h1
    | #{resource.title}
  include rating_stars 
  | (#{rating})
  p
    strong Submetido por: 
    | #{resource.uploadedByUsername}
  if resource.author 
    p
      strong Autor: 
      | #{resource.author}
  p
    strong Tipo de Recurso: 
    | #{resource.type}
  p
    strong Público: 
    | #{resource.public ? 'Sim' : 'Não'}
  p
    strong Data de submissão: 
    | #{resource.dateCreated}
  if resource.updateDate
    p
      strong Data da última atualização: 
      | #{resource.updateDate}

  if resource.description
    h2 Descrição do Recurso:
    div.w3-card-4.w3-padding.w3-light-grey.w3-margin-bottom(style='width: 100%;')
      p #{resource.description}

  h2 Ficheiros do Recurso:
  include tabelaFiles
  

  if files && files.length > 1
    p
      button.w3-button.w3-green(onclick=`window.location.href='/download/resource/${resource._id}'`) Download do Recurso
  if resource.uploadedBy === userInfo.userId
    p
      a.w3-button.w3-red(href='/resource/delete/' + resource._id) Apagar Recurso
  include comment_section
  include footer

  script.
    var errorFlag = "#{errorFlag}"
        if (errorFlag === "true") {
            var error = "#{msg}"
            alert(error);
        }

    var downloadFlag = "#{downloadFlag}"
    if (downloadFlag === "true") {
        var msg = "#{msg}";
        alert('Download failed: ' + msg);
    }

    var commentDeleteFlag = "#{commentDeleteFlag}"
    if (commentDeleteFlag === "true") {
        alert('Resource updated successfully!');
    } else if (commentDeleteFlag === "false") {
        var msg = "#{msg}";
        alert('Resource update failed: ' + msg);
    }

    var updateFlag = "#{updateFlag}"
    if (updateFlag === "true") {
        alert('Resource updated successfully!');
    } else if (updateFlag === "false") {
        var msg = "#{msg}";
        alert('Resource update failed: ' + msg);
    }

    var resourceDeletedFlag = "#{resourceDeletedFlag}"
    if (resourceDeletedFlag === "true") {
        var msg = "#{msg}";
        alert('Download failed: ' + msg);
    }

