extends layout

block content
  //- h1 File List
  if files.length
    table.w3-table.w3-striped.w3-bordered.w3-centered
      thead
        tr
          th Nome
          th Tipo
          th Acções
      tbody
        each file in files
          tr
            td= file.fileName
            td= file.type
            td
              if file.browserSupported
                a(href=`/download/${file._id}`, class='w3-btn w3-blue') Download
                button(class='w3-btn w3-green', onclick=`openModal('${file.path}', '${file.fileName}', '${file.type}')`) Ver

              else
                a(href=`/download/${file._id}`, class='w3-btn w3-blue') Download
        //- img(src="/storage/a88d399fc4550743/14fbdd0e4c1c14ab/unziped/jacasld.jpg", width='400px')
        //- Button to activate the modal
        //- button(class='w3-btn w3-blue', onclick='openModal()') Open Modal
        //- Modal Box
        #myModal.w3-modal
          .w3-modal-content
            span.w3-button.w3-display-topright(onclick='closeModal()') &times;
            .w3-container
              //- Image container
              #imageContainer(style="padding: 20px;")  // added padding
  
  else
    p Este recurso não tem ficheiros..


  script.

    function openModal(path, fileName, type) {
      var modal_html = showFile(path, fileName, type);
      var modal = document.getElementById("myModal");
      var imageContainer = document.getElementById("imageContainer");
      imageContainer.innerHTML = modal_html;
      //- imageContainer.innerHTML = '<img src="/storage/a88d399fc4550743/14fbdd0e4c1c14ab/unziped/jacasld.jpg" width="400px" />';
      modal.style.display = "block";
    }

    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

