extends layout

block content
    include header
    include navbar

    style.
        body {
            padding-bottom: 100px;
        }
        .modal-dialog {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .modal {
            margin: 0 auto;
        }

    script.
        var passwordFlag = null 
        var requestRoleUpdateFlag = null
        var updateUserFlag = null

        function validatePasswordForm(form) {
            var newPassword = form.newPassword.value;
            var newPasswordConfirm = form.newPasswordConfirm.value;
            var passwordWarning = document.getElementById('passwordWarning');

            if (newPassword !== newPasswordConfirm) {
                passwordWarning.style.display = 'block';
                return false;
            } else {
                passwordWarning.style.display = 'none';
                return true;
            }
        }

        var passwordFlag = "#{passwordFlag}"
        if (passwordFlag === "true") {
            alert('Password updated successfully!');
        } else if (passwordFlag === "false") {
            var msg = "#{msg}";
            alert('Password update failed: ' + msg);
        }

        var requestRoleUpdateFlag = "#{requestRoleUpdateFlag}"
        if (requestRoleUpdateFlag === "true") {
            alert('Request Role Update successfully!');
        } else if (requestRoleUpdateFlag === "false") {
            var msg = "#{msg}";
            alert('Request Role Update failed: ' + msg);
        }

        //- var updateUserFlag = "#{updateUserFlag}"
        //- if (updateUserFlag === "true") {
        //- alert('User updated successfully!');
        //- } else if (updateUserFlag === "false") {
        //- var msg = "#{msg}";
        //- alert('User update failed: ' + msg);
        //- }

        var userDeletedFlag = "#{userDeletedFlag}"
         if (userDeletedFlag === "false") {
            var msg = "#{msg}";
            alert('User update failed: ' + msg);
        }
        
        

    div.page-container
        div.page-header(style="display: flex; align-items: center;")
            h1(style="margin-right: 30px;").page-heading Welcome, #{user.username}!
            if owner || userInfo.role === 'admin'
                div
                    button.w3-button.w3-red(data-bs-toggle="modal" data-bs-target="#deleteUserModal") Delete
                    if userInfo.role === 'admin' && !owner
                        button.w3-button.w3-blue(data-bs-toggle="modal" data-bs-target="#updatePasswordAdminModal") Update Password
                    else
                        button.w3-button.w3-blue(data-bs-toggle="modal" data-bs-target="#updatePasswordModal") Update Password
                    a.w3-button.w3-green(href='/user/update') Update User
        div.user-info
            p Email: #{user.email}
            if user.name
                p Name: #{user.name}
            if user.filiation
                p Filiation: #{user.filiation}
            div(style="display: flex; align-items: center;")
                p(style="margin-right: 10px;") Role: #{user.role}
                if owner
                    a.w3-button.w3-orange(data-bs-toggle="modal" data-bs-target="#requestRoleUpdateModal") Request Update

    a.w3-button.w3-yellow(href=`/users/recursos/${user._id}`) Show Resources

    // Update Password Modal
    div.modal.fade(id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true")
        div.modal-dialog.modal-dialog-centered
            div.w3-modal-content
                div.w3-container
                    h5.modal-title#updatePasswordModalLabel Update Password
                    //- button.w3-closebtn.w3-red(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.w3-container
                    form(action=`/users/updatePassword` method="POST" onsubmit="return validatePasswordForm(this)")
                        div.form-group
                            label(for="oldPassword") Old Password
                            input.w3-input(type="password" name="oldPassword" required)
                        div.form-group
                            label(for="newPassword") New Password
                            input.w3-input(type="password" name="newPassword" id="newPassword" pattern='.{8,}' title='Password tem de ter no minimo 8 carateres!' required)
                        div.form-group
                            label(for="newPasswordConfirm") Confirm New Password
                            input.w3-input(type="password" name="newPasswordConfirm" id="newPasswordConfirm" required)
                            small#passwordWarning(style="display: none; color: red") Password do not match new password

                        button.w3-button.w3-green.w3-right(type="submit") Save Changes
                        button.w3-button.w3-light-grey.w3-right(type="button" data-bs-dismiss="modal") Close


    // Update Password Modal
    div.modal.fade(id="updatePasswordAdminModal" tabindex="-1" aria-labelledby="updatePasswordAdminModalLabel" aria-hidden="true")
        div.modal-dialog.modal-dialog-centered
            div.w3-modal-content
                div.w3-container
                    h5.modal-title#updatePasswordAdminModalLabel Update Password
                    //- button.w3-closebtn.w3-red(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.w3-container
                    form(action=`/users/updatePassword` method="POST" onsubmit="return validatePasswordForm(this)")
                        div.form-group
                            label(for="newPassword") New Password
                            input.w3-input(type="password" name="newPassword" id="newPassword" pattern='.{8,}' title='Password tem de ter no minimo 8 carateres!' required)
                        div.form-group
                            label(for="newPasswordConfirm") Confirm New Password
                            input.w3-input(type="password" name="newPasswordConfirm" id="newPasswordConfirm" required)
                            small#passwordWarning(style="display: none; color: red") Password do not match new password

                        button.w3-button.w3-green.w3-right(type="submit") Save Changes
                        button.w3-button.w3-light-grey.w3-right(type="button" data-bs-dismiss="modal") Close

    // Request Role Update Modal
    div.modal.fade(id="requestRoleUpdateModal" tabindex="-1" aria-labelledby="requestRoleUpdateLabel" aria-hidden="true")
        div.modal-dialog.modal-dialog-centered
            div.w3-modal-content
                div.w3-container
                    h5.modal-title#requestRoleUpdateLabel Request Role Update
                    //- button.w3-closebtn.w3-red(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.w3-container
                    form(action=`/users/requestRoleUpdate` method="POST")
                    
                        div.form-group
                            label(for="role") New Role

                            select.form-select(name="role")
                                if user.role === 'consumer'
                                    option(value="producer") Producer
                                    option(value="admin") Admin
                                else
                                    if user.role === 'producer'
                                        option(value="consumer") Consumer
                                        option(value="admin") Admin
                                    else
                                        if user.role === 'admin'
                                            option(value="consumer") Consumer
                                            option(value="producer") Producer
                        button.w3-button.w3-green.w3-right(type="submit") Save Changes
                        button.w3-button.w3-light-grey.w3-right(type="button" data-bs-dismiss="modal") Close

    // Delete User Modal
    div.modal.fade(id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true")
        div.modal-dialog.modal-dialog-centered
            div.w3-modal-content
                div.w3-container
                    h5.modal-title#deleteUserLabel Delete User
                    //- button.w3-closebtn.w3-red(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                    p Tem a certeza que pretende eliminar a sua conta?
                    p Esta ação é irreversível.
                    p Todos os recursos que tenha criado serão também eliminados.

                div.w3-container
                    if owner
                        a.w3-button.w3-red.delete-button(href='/users/delete') Delete
                    if userInfo.role == 'admin' && !owner
                        a.w3-button.w3-red.delete-button(href='/admin/delete/' + user._id) Delete
                    button.w3-button.w3-light-grey.w3-right(type="button" data-bs-dismiss="modal") Close

                    


    script.
        var myModalPasswordUpdate = new bootstrap.Modal(document.getElementById('updatePasswordModal'), options)
        myModalPasswordUpdate.show()

        var myModalPasswordUpdateAdmin = new bootstrap.Modal(document.getElementById('updatePasswordAdminModal'), options)
        myModalPasswordUpdateAdmin.show()

        var myModalRequestRoleUpdate = new bootstrap.Modal(document.getElementById('requestRoleUpdateModal'), options)
        myModalRequestRoleUpdate.show()

        var myModalDeleteUserModal = new bootstrap.Modal(document.getElementById('deleteUserModal'), options)
        myModalDeleteUserModal.show()

    include footer

